
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(135deg, #000 60%, #0ff 100%);
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 1em #00f6ff);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #00f6ff);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #00f6ff);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #00f6ff;
  border-radius: 16px;
  box-shadow: 0 0 24px #00f6ff44;
  color: #00f6ff;
}

.read-the-docs {
  color: #00f6ff;
}
